{% extends "layout.html" %}
{% block content %}

<div class="shadow-lg p-3 mb-5 bg-body rounded">
 <div align="center">
    <h1>О компании Вертекс </h1>
 </div>
<p>ВЕРТЕКС» – фармацевтическая компания из Санкт‑Петербурга, основанная в 1999 году.</p>
<p>{{text}}</p>
<img src="/static/images/v.jpg" class="img" width = 100% align = "center" alt="...">
<address>
    <strong>Адрес:</strong>
    <br />Санкт-Петербург, 24 линия ВО, 27<br />
    <abbr title='Phone'></abbr>
    <strong>Телефон:</strong> +7(911)100-02-32<br />
</address>
<address>
    <strong>e-mail:</strong>   <a href="mailto:IRogaynis@vertex.spb.ru">IRogaynis@vertex.spb.ru</a><br />
</address>
</div>


{% endblock %}
