{% extends "layout.html" %}
{% block content %}
 <div class="container" align="center">
    <h2>Отправка данных в БД </h2>
  </div>
<div class="shadow-lg p-3 mb-5 bg-body rounded" >
<form method="post" action="/add_data">
        <label>Product Name</label>
        <input type="text" name="product" class="form-control">
        <label>Price</label>
        <input type="number" name="price" class="form-control">
        <label>Quantity</label> <!-- new label for new column in db-->
        <input type="number" name="quantity" class="form-control"> <!-- new input for new column in db-->
<h3> </h3>
    <button class="btn btn-primary btn-large" type="submit">Записать в БД</button>
<h3> </h3>
</form>
<table class="table table-bordered table-hover" >
  <thead>
    <tr>
      <th class="table-primary text-center" scope="col">#</th>
      <th class="table-primary text-center" scope="col">Product Name</th>
      <th class="table-primary text-center" scope="col">Price</th>
      <th class="table-primary text-center" scope="col">Price with vat</th>
      <th class="table-primary text-center" scope="col">Quantity</th>
    </tr>
  </thead>
  {% for i in result_all %}
    <tr>
      <td class="text-center">{{loop.index}}</td>
      <td>{{i[1]}}</td>
      <td class="text-center">{{i[2]|int}}</td>
      <td class="text-center">{{(i[2]|int * 1.13) |round|int}}</td>
      <td class="text-center">{{i[3]|int}}</td>
    </tr>
  {% endfor %}
</table>
        <p><a class="btn btn-outline-primary" href="{{ url_for('xls') }}">Выгрузить в Excel &raquo;</a></p>
        <p><a class="btn btn-outline-primary" href="{{ url_for('doc') }}">Выгрузить в Word &raquo;</a></p>
</div>

{% endblock %}