{% extends "layout.html" %}
{% block content %}
<div class="container" align="center">
    <h2>Выбор данных из БД </h2>
</div>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
<form method="POST" action="" >
    <label for="exampleDataList" class="form-label">Выберите продукт</label>
    <input name = "select_product" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Поиск...">
    <datalist id="datalistOptions">
        {% for i in results %}
         <option >{{i[1]}}</option>
        {% endfor %}
    </datalist>
    <h3> </h3>
    <button class="btn btn-primary btn-large" type="submit">Выбрать</button>
    <h3> </h3>
</form>
<div align="center">
    {% if product_if %}
  <div class="card text-white bg-light mb-3" style="width: 25rem;" align="center">
   <div class="card-body" align="center">
        <h4 class="card-title"></h4>
        <h5 class="card-subtitle mb-2 text-muted">{{product_if}}</h5>
        <h4 class="card-title"></h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <h6 class="card-text text-primary">{{price_if}} руб.</h6>
        <a href="{{ url_for('upd') }}" class="btn btn-outline-primary stretched-link">Изменить цену&raquo;</a>
   </div>
  </div>
   {% endif %}
</div>
</div>
{% endblock %}




